################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mango.Services.CouponApi/bin/Debug/net9.0
/Mango.Services.CouponApi/obj
