################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mango.Services.CouponApi/bin/Debug/net9.0
/Mango.Services.CouponApi/obj
/Mango.Web/bin/Debug/net9.0
/Mango.Web/obj
/Mango.Services.AuthAPI/bin/Debug/net9.0
/Mango.Services.AuthAPI/obj
